div.Preface {
    margin: 25px 50px 75px;
}

div.Preface-text {
    margin: 100px 75px 100px;
    width: 200px;
}

div.Body {
    margin: 25px 15px 25px;
}

div.Body-text {
    margin: 100px 75px 100px;
}